<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/layout/header') %>
  <%- include('partials/components/spots') %>

    <%- include('partials/components/hero') %>
      <%- include('partials/components/product-card') %>



        <%- include('partials/layout/small-icon') %>
          <%- include('partials/layout/footer-navbar') %>
            <%- include('partials/layout/accordion') %>
              <%- include('partials/layout/footer') %>
</body>

</html>