    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/klader.css">
        <title>Kläder</title>
    </head>

    <body>
        <%- include('partials/layout/header') %>
            <main>
                <h3>Kläder</h3>
                <div class="product-cards">
                    <div class="product-card">
                        <div class="product-img-wrapper">
                            <a href="#">
                                <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
                                <span class="icon-heart"><img src="/images/icons/suit-heart-fill.svg"
                                        alt="heart-fill" /></span>
                            </a>
                        </div>

                        <div class="product-info">
                            <span class="product-name">Svart T-shirt</span>
                            <span class="price">199 SEK</span>
                            <span class="brand">Levis</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img-wrapper">
                            <a href="#">
                                <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
                                <span class="icon-heart"><img src="/images/icons/suit-heart-fill.svg"
                                        alt="heart-fill" /></span>
                            </a>

                        </div>

                        <div class="product-info">
                            <span class="product-name">Svart T-shirt</span>
                            <span class="price">199 SEK</span>
                            <span class="brand">Levis</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img-wrapper">
                            <a href="#">
                                <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
                                <span class="icon-heart"><img src="/images/icons/suit-heart-fill.svg"
                                        alt="heart-fill" /></span>
                            </a>

                        </div>

                        <div class="product-info">
                            <span class="product-name">Svart T-shirt</span>
                            <span class="price">199 SEK</span>
                            <span class="brand">Levis</span>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('partials/layout/small-icon') %>
                <%- include('partials/layout/footer-navbar') %>
                    <%- include('partials/layout/accordion') %>
                        <%- include('partials/layout/footer') %>
    </body>

    </html>