<link rel="stylesheet" href="/stylesheets/product-card.css" />

<body>
  <div class="product-cards">
    <% products.forEach(product=> { %>

      <div class="product-card">

        <div class="product-img-wrapper">
          <a href="/products/<%= product.slug %>">
            <img class="product-img" src="<%= product.image %>" alt="t-shirt" />
          </a>
          <form class="icon-heart favorite-form" action="/favorites/<%= product.id %>/toggle" method="POST">
            <button type="submit" aria-label="Lägg till eller ta bort favorit">
              <img class="<%= favoriteProductIds.includes(product.id) ? 'active' : '' %>"
                src="/images/icons/suit-heart-fill.svg" alt="">
            </button>
          </form>
          <% const createdDate=new Date(product.created_at); const now=new Date(); const diffDays=(now - createdDate) /
            (1000 * 60 * 60 * 24); %>

            <% if (diffDays <=7) { %>
              <span class="news">Nyhet</span>
              <% } %>

        </div>

        <div class="product-info">
          <span class="product-name">
            <%= product.name %>
          </span>
          <span class="price">
            <%= product.price %> SEK
          </span>
          <span class="brand">
            <%= product.brand %>
          </span>
        </div>
      </div>
      <% }) %>
  </div>
  </div>
  <script src="/javascripts/favorites.js"></script>