<link rel="stylesheet" href="/stylesheets/product-card.css" />

<body>
  <div class="product-cards">
    <% products.forEach(product=> { %>

      <div class="product-card">

        <div class="product-img-wrapper">
          <a href="/products/<%= product.slug %>">
            <img class="product-img" src="<%= product.image %>" alt="t-shirt" />
          </a>
          <span class="icon-heart">
            <img src="/images/icons/suit-heart-fill.svg" onclick="toggleHeart(this)"></span>

          <span class="news">Nyhet</span>
        </div>

        <div class="product-info">
          <span class="product-name">
            <%= product.name %>
          </span>
          <span class="price">
            <%= product.price %> SEK
          </span>
          <span class="brand">
            <%= product.brand %>
          </span>
        </div>
      </div>
      <% }) %>
  </div>
  </div>
  <script>
    function toggleHeart(el) {
      el.classList.toggle("active");
    }
  </script>